body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff; /* Define a cor do texto para branco */
}

/* Restante do seu CSS... */


.cabecalho {
    background-color: #424552;
    color: #fff8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.cabecalho-imagem {
    width: 80px;
}

.cabecalho-nav {
    margin-left: auto;
}

.cabecalho-lista {
    list-style: none;
    display: flex;
    gap: 16px;
}

.cabecalho-lista-item {
    color: #fafafa;
}

.escola {
    background-color: #817A6C;
    padding: 50px;
}

.escola-div-conteudo {
    max-width: 800px;
    margin: 0 auto;
}

.escola-titulo {
    margin-bottom: 16px;
}

.escola-texto-um {
    margin-bottom: 16px;
}

.escola-imagem {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.texto-canto-inferior {
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: #ffffff;
}

.estudante {
    text-align: center;
    background-color: #424552;
    padding: 50px;
}

.estudante-todos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.imagem-estudante {
    width: 120px;
    margin: 8px;
}

.informacoes-adicionais {
    background-color: #424552;
    padding: 50px;
}

.informacoes-adicionais .escola-div-conteudo {
    max-width: 800px;
    margin: 0 auto;
}

.informacoes-adicionais .escola-titulo {
    margin-bottom: 16px;
}

.informacoes-adicionais .escola-texto-um {
    margin-bottom: 16px;
}
    .a {
        color: #fff8f8;
    }